.sectionContainer {
  scroll-snap-align: start;
  height: 100vh;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.title {
  text-align: center;
  font-family: 'EB Garamond', 'serif';
  margin-bottom: 38px;
}

.button {
  font-weight: bold;
  padding: 16px 75px;
  margin-top: 27px;
}

@media only screen and (max-width: 1199.95px) {
  .sectionContainer {
    height: auto;
    padding-top: 47px;
    padding-bottom: 47px;
  }
}

@media only screen and (max-width: 599.95px) {
  .title {
    margin-bottom: 28px;
  }

  .button {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 899.95px) {
  .leftContainer {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}
