.sectionContainer {
  scroll-snap-align: start;
  height: 100vh;
}

.title {
  text-align: left;
  font-family: 'EB Garamond', 'serif';
}

.content ul {
  padding-inline-start: 20px;
}

@media only screen and (max-width: 1199.95px) {
  .sectionContainer {
    height: auto;
    padding-top: 47px;
    padding-bottom: 47px;
  }
}

@media only screen and (min-width: 900px) {
  .titleContainer {
    padding-right: 16px;
  }

  .sectionContainer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
