.sectionContainer {
  padding-top: 36px;
  padding-bottom: 36px;
}

.title {
  text-align: left;
  font-family: 'EB Garamond', 'serif';
}

.content ul {
  padding-inline-start: 20px;
}

@media only screen and (min-width: 900px) {
  .titleContainer {
    padding-right: 16px;
  }

  .sectionContainer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
