.sectionContainer {
  scroll-snap-align: start;
  height: 100vh;
}

.leftContainer,
.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: left;
  font-family: 'EB Garamond', 'serif';
}

@media only screen and (max-width: 1199.95px) {
  .title {
    margin-bottom: 30px;
  }

  .sectionContainer {
    height: auto;
    padding-top: 47px;
    padding-bottom: 47px;
  }
}
